.header {
  width: 100%;

  display: flex;
  padding: 20px;
  background-color: rgb(16, 96, 116);
}
.header input {
  width: 70%;
  margin-left: 60px;
  margin-bottom: 1px;
  text-align: center;
}
.header h1 {
  color: white;
  padding-top: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header button {
  margin-left: 30px;
  cursor: pointer;
  background-color: teal;
}
